<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-container">
    <header class="admin-header">
        <a href="/admin/">Каталог</a>
        <a href="/admin/adding">Добавить мебель</a>
        <a href="/admin/orders">Заказы</a>
        <a href="/users/logout">Выйти из аккаунта</a>
      </header>

    <div class="profile-orders-container">
        <h1>Заказы</h1>

        <div class="orders-container">
            <div class="order-container">
                <div class="order-text-container">
                    <h1>Номер заказа: 132475</h1>
                    <p>Статус: неоплаченно</p>
                </div>
                <div class="order-list-container">
                    <p>Классный диван</p>
                    <p>Классная лампа</p>
                    <p>Классный кухонный гарнитур</p>
                </div>
                <div class="order-contant-container">
                    <p>Адрес доставки: </p>
                    <p>Контактная информация: </p>
                </div>
                <div class="order-buttons-container">
                    <button>Оплачено</button>
                    <button>В доставке</button>
                    <button>Доставлено</button>
                    <button>Удалить</button>
                </div>
            </div>
        </div>
    </div>
  </div>

  <script src="/javascripts/profile.js"></script>
</body>
</html>