<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-container">
    <header class="admin-header">
      <a href="/admin/">Каталог</a>
      <a href="/admin/adding">Добавить мебель</a>
      <a href="/admin/orders">Заказы</a>
      <a href="/users/logout">Выйти из аккаунта</a>
    </header>

    <div class="form-container">
        <h1>Добавить мебель</h1>
        <input type="text" placeholder="Название" id="title">
        <input type="text" placeholder="Цена" id="price">
        <input type="text" placeholder="Описание" id="description">
        <select name="" id="type">
            <option value="Кухня">Кухня</option>
            <option value="Спальня">Спальня</option>
            <option value="Ванная">Ванная</option>
            <option value="Гостинная">Гостинная</option>
            <option value="Туалет">Туалет</option>
            <option value="Офис">Офис</option>
            <option value="Прихожая">Прихожая</option>
        </select>
        <input type="file" id="photo">
        <button id="button" onclick="addFurniture()">Добавить</button>
    </div>
  </div>

  <script src="/javascripts/admin.js"></script>
</body>
</html>