<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-container">
    <header class="admin-header">
      <a href="/admin/">Каталог</a>
      <a href="/admin/adding">Добавить мебель</a>
      <a href="/admin/orders">Заказы</a>
      <a href="/registration">Выйти из аккаунта</a>
    </header>

    <div class="form-container">
        <h1>Добавить мебель</h1>
        <input type="text" placeholder="Название">
        <input type="text" placeholder="Цена">
        <input type="text" placeholder="Описание">
        <select name="" id="">
            <option value="">Кухни</option>
            <option value="">Спальня</option>
            <option value="">Ванная</option>
            <option value="">Гостинная</option>
            <option value="">Туалет</option>
            <option value="">Офис</option>
            <option value="">Прихожая</option>
        </select>
        <input type="file">
        <button>Добавить</button>
    </div>

    

  </div>

  <script src="/javascripts/catalog.js"></script>
</body>
</html>