<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-photo" style="background-image: url('../images/background.png');"></div>
  <div class="main-container">
    <header>
      <a href="/" class="logo">KoduMööbel</a>
      <div class="header-links-right">
        <a href="/registration">Зарегистрироваться</a>
        <a href="/login"><div class="header-button">Войти</div></a>
      </div>
    </header>

    <div class="welcome-container">
      <h1>Эстонская мебель</h1>
      <div class="divider"></div>
      <a class="welcome-button-a" href="/catalog"><div class="welcome-button">Каталог</div></a>
    </div>
  </div>
</body>
</html>