<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-container">
    <header>
      <a href="/" class="logo">KoduMööbel</a>
      <div class="header-links-right">
        <a href="/registration">Регистрация</a>
        <a href="/login"><div class="header-button">Войти</div></a>
      </div>
    </header>

    <div class="auth-container">
        <h1>Регистрация</h1>
        <input type="text" placeholder="Электронная почта" id="email">
        <input type="password" placeholder="Пароль" id="password">
        <input type="password" placeholder="Повторите пароль" id="check-password">
        <button onclick="registration()" id="reg-button">Зарегистрироваться</button>
    </div>

  </div>

  <script src="/javascripts/registration.js"></script>
</body>
</html>