html{
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar { width: 0;}

body {
  padding: 0;
  margin: 0;
  font: 14px;

  font-family: Arial, Helvetica, sans-serif;
}

.main-photo{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

a {
  color: #00B7FF;
}

.main-container{
  margin: auto;
  max-width: 1280px;
  height: 100vh;
  padding: 0 50px;
}

header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}





header a{
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.header-main a{
  color: rgb(255, 255, 255);
}

.header-links-right{
  display: flex;
  align-items: center;
}

.header-links-right img{
  margin-top: 5px;
  width: 30px;
}

header a:hover{
  color: #897900;
}

.header-button{
  height: 30px;
  width: 120px;
  background-color: #44412B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  border-radius: 10px;
  color: white;
}

.logo{
  font-size: 20px;
}

.login{
  margin-left: 30px;
}

.welcome-container{
  width: 30%;
}

.welcome-container h1{
  color: white;
  font-size: 74px;
  line-height: 1;
  margin-bottom: 0;
}

.divider{
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 30px 0;
}

.welcome-button{
  width: 60%;
  height: 50px;
  background-color: #44412B;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
}

.welcome-button:hover{
  scale: 1.1;
}

.welcome-button-a{
  text-decoration: none;
  font-size: 20px;
}

.auth-container{
  margin: auto;
  margin-top: 50px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container h1{
  font-size: 36px;
}

.auth-container input{
  width: 80%;
  height: 40px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: #02541000;
  margin-bottom: 30px;
  padding-left: 20px;
  font-size: 18px;
}

.auth-container button{
  background-color: #44412B;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.auth-container button:hover{
  color: #897900;
}

.option-buttons-container{
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.option-button-container{
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.option-button{
  height: 30px;
  width: 80%;
  background-color: #44412B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.option-button:hover{
  background-color: #897900;
}

.cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-container{
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 50px; 
}

.card{
  margin: auto;
  width: 70%;
  height: auto;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.card p{
  margin: 0;
  font-size: 16px;
}

.card-price{
  font-weight: 600;
  margin-top: 10px !important;
  text-align: right;
}

.card button{
  margin: auto;
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: #44412B;
  height: 30px;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.card button:hover{
  background-color: #897900;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  border-radius: 10px;
}

.modal-content h1{
  margin-top: 0;
}

.profile-container{
  text-align: center;
}

.profile-container a{
  text-decoration: none;
  color: #44412B;
}

.orders-container{
  padding-bottom: 30px;
}

.exit-button{
  cursor: pointer;
  transition: 0.5s;
}

.exit-button:hover{
  color: #897900;
}

.order-container{
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.order-text-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.order-text-container h1{
  margin: 0;
  text-align: right;
  font-size: 22px;
}

.order-text-container p{
  margin: 0;
  text-align: right;
  font-size: 18px;
}

.order-list-container p{
  margin: 0;
  margin-top: 10px;
}

.order-contant-container{
  margin-top: 30px;
}

.order-contant-container p{
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.order-buttons-container{
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 20px;
}

.order-buttons-container button{
  margin-right: 20px;
  background-color: #44412B;
  transition: 0.5s;
  color: white;
  height: 30px;
  width: 20%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.order-buttons-container button:hover{
  background-color: #897900;
}

.basket-container{
  margin: auto;
  display: flex;
  width: 65%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.basket-cards-container{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.basket-card-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default !important;
  padding: 0 15px;
}

.basket-card-button-plus{
  cursor: pointer;
}

.basket-card-button-minus{
  cursor: pointer;
}


.basket-card-button:hover{
  background-color:#44412B !important;
}

.basket-order-container{
  width: 30%;
  border-left: 1px solid black;
  padding: 0 10px;
}

.basket-order-container h1{
  margin: 0;
  text-align: center;
}

.basket-order-container p{
  font-weight: 600;
  margin: 30px 0;
}

.basket-order-container input{
  background-color:#00b7ff00;
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.basket-order-container button{
  margin: auto;
  margin-top: 10px;
  background-color: #44412B;
  transition: 0.5s;
  color: white;
  height: 30px;
  width: 70%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  align-items: center;
}

.form-container input, select{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  background-color:#ffffff00;
  border-radius: 10px;
  border: 1px solid black;
  height: 30px;
  padding: 0 10px;
}

.form-container button{
  background-color: #44412B;
  transition: 0.5s;
  color: white;
  height: 30px;
  width: 40%;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.form-container button:hover{
  background-color:#897900;
}
